@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'RobotoThin';
    src: url(fonts/Roboto-Thin.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

.header,
.hero {
    background-color: #1f2937;
    color: white;
    padding: 10px 100px;
    display: flex;
    justify-content: space-evenly;
}

.header {
    justify-content: space-around;
    gap: 150px;
}

.links-container {
    display: flex;
    gap: 16px;
    font-family: 'RobotoThin', sans-serif;
    font-size: 16px;
}

.links {
    cursor: pointer;
}

.logo {
    font-family: 'RobotoBold', sans-serif;
    font-weight: 700;
}

.hero {
    padding: 60px 140px;
    flex-wrap: wrap;
}

.image-placeholder {
    width: 450px;
    height: 200px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.text {
    width: 360px;
    height: 220px;
    font-family: 'RobotoThin', sans-serif;
    font-weight: 700;
    flex-shrink: 3;
    font-size: 18px;
}

.website {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
}

.subtext {
    font-size: 14px;
    opacity: 80%;
}

.sign-up,
.sign-up-footer {
    padding: 8px 30px;
    border-radius: 8px;
    margin-top: 8px;
    cursor: pointer;
    background-color: #3882f6;
    color: white;
    font-weight: 700;
}

.sign-up {
    border: 2px solid #1f2937;
}

.second-part {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    gap: 20px;
}

.random-information {
    text-align: center;
    font-family: 'RobotoBold', sans-serif;
    font-size: 36px;
    font-weight: 800;
    margin: 20px;
}

.big-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.medium-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    margin-bottom: 50px;
}


.small-container {
    width: 160px;
    height: 160px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.paragraph {
    font-family: 'RobotoThin', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}


.third-part {
    background-color: #e5e7eb;
    display: flex;
    padding: 100px 280px;
    flex-direction: column;
}

.quote {
    font-family: 'RobotoThin', sans-serif;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.thor {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: end;
}

.footer {
    padding: 70px 200px;
}

.footer-container {
    display: flex;
    background-color: #3882f6;
    color: white;
    justify-content: space-between;
    padding: 40px 90px;
    flex-wrap: wrap;
}

.footer-headline {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
}

.sign-up-footer {
    border: 2px solid white;
}

.copyright {
    background-color: #1f2937;
    color: white;
    font-family: 'RobotoThin', sans-serif;
    padding: 25px 50px;
    text-align: center;
}